.logo-container h1{
    display: inline-block;
    color: #2057ce;
    font: normal normal normal 64px/71px Palatino;
    vertical-align: middle;
    margin: 0;
    
    
}
.logo-container img{
   vertical-align: middle;
    
}
.logo-container{
    margin-left: 150px;
}


.icon-container{
 
    background-color: rgb(238, 11, 11);
    padding: 0.5rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.icon-container a{
    margin-right: 200px;
}